/**FONTS**/
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
        url('/fonts/Roboto/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
        url('/fonts/Roboto/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Medium.woff2') format('woff2'),
        url('/fonts/Roboto/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/**GENERAL**/
.header,
.sidebar,
.content input {
    font-family: 'Roboto', 'Courier New', Courier, monospace;
}

/**HEADER**/
.header {
    /* box-shadow: 1px solid gray; */
    background-color: white;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
}

.header__search-logo {
    width: 1.5rem;
    height: 1.5rem;
}

.header__input {
    border-radius: 1.5rem;
    background-color: rgba(226, 232, 240);
    border: none;
}

.header__top p {
    font-weight: bold;
}

.header__bottom p {
    font-weight: bold;
}

.header__greeting-logo {
    width: 5.5rem;
    height: 5.5rem;
    background-color: rgba(250, 204, 21);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__greeting-logo img {
    max-width: 90%;
    max-height: 90%;
    display: block;
}

.header__greeting p+p {
    font-size: 1.5rem;
}

.header__username-logo {
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgba(250, 204, 21);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__username-logo img {
    max-width: 90%;
    max-height: 90%;
    display: block;
}

.header__notification-logo {
    width: 1.5rem;
    height: 1.5rem;
}

.content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.header__action {
    border-radius: 1.5rem;
    border: none;
    background-color: rgba(25, 146, 212);
    color: white;
    font-weight: 500;
    width: 6rem;
    height: 2rem;
}

/**SIDEBAR**/
.sidebar {
    background-color: rgba(25, 146, 212);
    padding-left: 1.5rem;
}

.sidebar__logo-dashboard {
    width: 4rem;
    height: 4rem;
}

.sidebar__title {
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
}

.sidebar__nav {
    padding-left: 1rem;
}

.sidebar__menu {
    margin: 0;
    padding: 0;
}

.sidebar__logo-body {
    width: 2rem;
    height: 2rem;
}

.sidebar__link,
.sidebar__link:visited {
    color: white;
    font-weight: 500;
    font-size: 1.3rem;
    text-decoration: none;
}

.sidebar__menu-item {
    list-style: none;
}

/**CONTENT**/
.content {
    background-color: rgba(226, 232, 240);
}