/**FONTS**/
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
        url('/fonts/Roboto/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
        url('/fonts/Roboto/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Medium.woff2') format('woff2'),
        url('/fonts/Roboto/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

.header,
.sidebar,
.content {
    font-family: 'Roboto', 'Courier New', Courier, monospace;
}

/**SIDEBAR**/
.sidebar {
    background-color: rgba(25, 146, 212);
    padding-left: 1.5rem;
}

.sidebar__logo-dashboard {
    width: 4rem;
    height: 4rem;
}

.sidebar__title {
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
}

.sidebar__nav{
    padding-left: 1rem;
}

.sidebar__menu {
    margin: 0;
    padding: 0;
}

.sidebar__logo-body {
    width: 2rem;
    height: 2rem;
}

.sidebar__link,
.sidebar__link:visited {
    color: white;
    font-weight: 500;
    font-size: 1.3rem;
    text-decoration: none;
}

.sidebar__menu-item {
    list-style: none;
}