/**SETUP CODE **/

.dashboard {
    height: 100vh;
    width: 100vw;
}

.dashboard__container {
    display: grid;
    height: inherit;
    width: inherit;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 4fr;
    /**Temporary**/
    gap: 5px;
}

.header {
    grid-row: 1/2;
    grid-column: 2/3;
    border: 2px solid green;
}

.sidebar {
    grid-row: 1/3;
    grid-column: 1/2;
}

.content {
    grid-row: 2/3;
    grid-column: 2/3;
    border: 2px solid blue;
}

/**HEADER STYLING**/
.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header__search {
    height: 30%;
}

.header__top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-row: 1/2;
    gap: 10rem;
    border: 2px solid yellow;
    align-items: center;
}

.header__bottom {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row: 2/3;
    border: 2px solid blue;
    align-items: center;
}

.header__greeting {
    grid-column: 1/3;
}

.header__handle {
    grid-column: 1/2;
    grid-row: 2/3;
}

.header__actions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    grid-column: 2/3;
    grid-row: 2/3;
}

/**SIDEBAR STYLING**/
.sidebar {
    display: grid;
    grid-template-rows: 1fr 6fr 4fr;
}

.sidebar__title {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;
}

.sidebar__nav {
    display: grid;
    grid-template-rows: 2fr 1fr;
    gap: 3rem;
}

.sidebar__menu--primary {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
}

.sidebar__menu--secondary {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
}

.sidebar__link {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;
}

/**CONTENT STYLING**/
.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
}

.projects {
    grid-column: 1/2;
    grid-row: 1/2;
}

.projects {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1rem;
}

.projects__title {
    grid-row: 1/2;
    grid-column: 1/2;
}

.card__container {
    border: 2px solid red;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.news {
    display: grid;
    height: 60%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
}

.announcements {
    display: grid;
    gap: 1rem;
    grid-template-rows: auto 1fr;
    border: 2px solid darkgreen;
}

.announcements__container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
}

.trending {
    display: grid;
    gap: 1rem;
    grid-template-rows: auto 1fr;
    border: 2px solid darkgreen;
}

.trending__container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}