/**SETUP CODE **/

.body {
    height: 100vh;
    width: 100vw;
}

.container {
    display: grid;
    height: inherit;
    width: inherit;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 4fr;
    gap: 5px;
}

.header {
    grid-row: 1/2;
    grid-column: 2/3;
    border: 2px solid green;
}

.aside {
    grid-row: 1/3;
    grid-column: 1/2;
    border: 2px solid red;
}

.main {
    grid-row: 2/3;
    grid-column: 2/3;
    border: 2px solid blue;
}

/**ASIDE STYLING**/
.aside__container {
    display: grid;
    height: 60%;
    gap: 3rem;
    grid-template-rows: 1fr 6fr;
    border: 3px solid rgb(17, 213, 11);
}

.aside__header {
    margin-top: 1rem;
    border: 2px solid yellow;
}

.aside__nav {
    border: 2px solid gray;
    display: grid;
    grid-template-rows: 2fr 1fr;
    gap: 3rem;
}

.aside__menu {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    border: 2px solid royalblue;
}

.aside__item {
    list-style: none;
    border: 2px solid salmon;
}

.aside__branding-menu {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.aside__branding-item {
    list-style: none;
    border: 2px solid rebeccapurple;
}

/**HEADER STYLING**/
.header__container {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header__input {
    height: 30%;
}

.header__first-layer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-row: 1/2;
    gap: 150px;
    border: 2px solid yellow;
    align-items: center;
}

.header__second-layer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row: 2/3;
    border: 2px solid blue;
    align-items: center;
}

.header__welcome {
    grid-column: 1/3;
}

.header__handle{
    grid-column: 1/2;
    grid-row: 2/3;
}

.header__upload-options{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    grid-column: 2/3;
    grid-row: 2/3;
}

/**HEADER STYLING**/