.body {
    height: 100vh;
    width: 100vw;
}

.container {
    display: grid;
    height: inherit;
    width: inherit;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 4fr;
    gap: 5px;
}

.header {
    grid-row: 1/2;
    grid-column: 2/3;
    border: 2px solid green;
}

.aside {
    grid-row: 1/3;
    grid-column: 1/2;
    border: 2px solid red;
}

.main {
    grid-row: 2/3;
    grid-column: 2/3;
    border: 2px solid blue;
}